[submodule "src/play_launch_parser"]
	path = src/play_launch_parser
	url = https://github.com/jerry73204/play_launch_parser.git
[submodule "src/vendor/ros2_rust"]
	path = src/vendor/ros2_rust
	url = https://github.com/jerry73204/ros2_rust.git
